.App {
  text-align: center;
  /* background-image: url("./assets/bg/color4.jpeg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover; */
  background-image: linear-gradient(160deg, rgb(27, 27, 80), rgb(206, 98, 206), rgb(44, 44, 147), red);
}

h1 {
  color: #fff
}

p {
  color: #fff
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}