nav {
    position: fixed;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 50;
}

.nav-container {
    background-color: rgba(0,0,0,.2);

    padding-left: 1.25em;
    padding-right: 1.25em;

    max-width: 460px;
    height: 90px;
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    border-radius: 9999px;

    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container a {
    border-radius: 9999px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container svg {
    cursor: pointer;
    color: hsla(0,0%,100%,.5);
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    transition: width 0.8s, height 0.8s;
}

.nav-container svg:hover {
    width: 50px;
    height: 50px;
}
/* 
.active, .btn:hover, .gradient {
    background: linear-gradient(92.23deg,#406aff 21.43%,#3bace2 50.63%,#b936ee 100%,#ff56f6 117.04%);
} */

@media only screen and (max--width: 640px) {

}